name: CI Pipeline
on: 
  push:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set Up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: pip install -r requirements.txt

    - name: Run Tests
      run: pytest -v

    - name: Package Build Artifact
      run: zip -r build.zip .

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: build.zip
